  @charset "UTF-8";

/* 回答はここに書いてね */
.content{
  padding: 20px;
  width: 940px;
  background-color: #eff3f4;
  margin:0 auto;
}
.thumb_left{
  margin: 0 20px 10px 0;
  float:left;
}
.content__text{
  font-size:18px;
  line-height: 22px;
  word-break: break-all;
  margin:0 auto;
}
.thumb_right{
  margin: 0 0 10px 20px;
  float:right;
}
/* 回答はここに書いてね */
