  @charset "UTF-8";

/* 回答はここに書いてね */
.box{
  width: 940px;
  background-color: #eff3f4;
  margin:0 auto;
}
.content{
  padding: 20px;
}
.thumb_1{
  padding-bottom: 10px;
  padding-right: 20px;
  float:left;
}
.q1__content__text{
  font-size:18px;
  line-height: 22px;
  word-break: break-all;
  margin:0 auto;
}
.q2__content__text{
  font-size:18px;
  line-height: 22px;
  word-break: break-all;
}
.thumb_2{
  padding-bottom: 10px;
  padding-left: 20px;
  float:right;
}
/* 回答はここに書いてね */
