@charset "UTF-8";
.all_box {
  padding: 20px;
  box-sizing: border-box;
}
.position {
  margin-top: 20px;
  width: 100%;
  background-color: #ECF1F2;
  display: table;
}
.position:first-child {
  margin-top: 0;
}
.all{
  display: table-cell;
  padding: 20px;
  text-align: center;
}
.fixation_top_left{
  width: 100px;
  background-color: #fdc8b8;
}
.variable_top_centre{
  background-color: #e0abd9;
}
.fixation_top_right{
  width: 100px;
  background-color: #b6d8ed;
}
.variable_bottom_left{
  background-color: #e5d32e;
}
.variable_bottom_centre{
  background-color: #ec8f9a;
}
.fixation_bottom_right{
  width: 500px;
  background-color: #8fdcad;
}
/* 回答はここに書いてね */

/* 回答はここに書いてね */
